<div class="full-width--grey">
  <div class="wrapper">
      <h1>{{title}}</h1>
  </div>
</div>
<div class="wrapper">

  <div class="pure-g movie-list__container">

    <div *ngFor="let movie of movies" class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="movie-list">
        <div class="movie-list__header">
          <h3>{{movie.title}}</h3>
          <p>Rating: {{movie.stars}}</p>
        </div>
        <div class="movie-list__content">
          <p>{{movie.description}}</p>
        </div>
        <div class="movie-list__link">
          <a class="button" routerLink="/movie/{{movie.id}}">Find out more</a>
        </div>
      </div>
    </div>
  
  </div>

</div>