@import '../../scss/_variables';

.movie-list {
    display: block;
    margin: 1rem;
    padding: 1.5rem;
    background-color: $light-grey;
    position: relative;
    &__container {
        display: flex;
        & > div {
            display: flex;
        }   
    }
    &__header {
        font-weight: 500;
        text-transform: uppercase;
        border-bottom: 1px solid $grey;
        padding-bottom: .4rem;
        margin-bottom: 1.2rem;
        & h3 {
            line-height: 1;
        }
    }
    &__content {
        line-height: 1.2;
        margin-bottom: 3rem;
    }
    &__link {
        & a.button {
            bottom: 1.5rem;
            left: 1.5rem;
        }
    }
    &:hover {
        transform: scale(1.02);
        box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    }
}