@import '../../scss/_variables';

.movie-details {
    &__image {
        text-align: center;
        & img {
            width: 300px;
            max-width: 100%;
        }
    }
    &__header {
        text-transform: uppercase;
        margin-bottom: .4rem;
        & h3 {
            border-bottom: 1px solid $grey;
            display: inline-block;
        }
    }
    &__content {
        margin-bottom: 2rem;
        & p {
            & span {
                display: block;
                margin-left: 20px;
            }
        }
    }
    &__link {
        position: relative;
        & a.button {
            left: 0;
            top: 1.5rem;
        }
    }
}