<div class="full-width--grey">
  <div class="wrapper">
    <h1>{{title}}</h1>
  </div>
</div>
<div class="wrapper wrapper--narrow">

  <div *ngIf="movie" class="movie pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="movie-details__image">
        <img src="{{movie.image}}" alt="{{movie.title}}">
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="movie-details__header">
        <h3>{{movie.title}} ({{movie.year}})</h3>
      </div>
      <div class="movie-details__content">
        <p>Rating: {{movie.stars}}</p>
        <p>Directed by: 
          <span *ngFor="let director of movie.directors">
            {{director.name}}
          </span>
        </p>
        <p>Actors: 
          <span *ngFor="let actor of movie.actors">
            {{actor.name}}
          </span>
        </p>
        <p>Description: 
          <span>{{movie.description}}</span>
        </p>
      </div>
      <div class="movie-details__link">
        <a class="button" (click)="goBack()">go back</a>
      </div>
    </div>
  </div>
</div>