@import './scss/reset';
@import './scss/variables';
@import './css/grids-min.css';
@import './css/grids-responsive-min.css';

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    -webkit-text-size-adjust: 100%;
    color: $grey;
    font: 100%/1.5 Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-stretch: normal;
    * {
        -webkit-transition: all 150ms ease-in;
        -moz-transition: all 150ms ease-in;
        -o-transition: all 150ms ease-in;
        transition: all 150ms ease-in;
    }
}

h1 {
    font-size: 1.4em;
}
h2 {
    font-size: 1.3em;
}
h3 {
    font-size: 1.2em;
}
a {
    color: $grey;
}
a.button {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    border: .75px solid $lighter-grey;
    padding: .8em 1em .6em;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    font-size: 0.875em;
    font-weight: 500;
    &:hover {
        border-color: $grey;
    }
}
.wrapper {
    max-width: 1200px;
    padding: 0 1em;
    margin: 0 auto;
    &--narrow {
        max-width: 750px;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        padding: 0;
    }
}

.full-width {
    &--grey {
        background-color: $dark-grey;
        padding: 2rem 0;
        margin: 2rem 0;
        color: white;
    }
}

@media only screen and (min-width: 768px) {
    .full-width {
        &--grey {
            margin: 4rem 0;
        }
    }
}
